.root {
  max-width: 400px;
  width: 100%;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 30px auto;
}

@media screen and (max-width: 420px) {
  .root {
    width: 320px;
    padding: 20px;
  }
}

@media screen and (max-width: 340px) {
  .root {
    width: 290px;
    padding: 20px 10px;
  }
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}
