.root {
  width: 400px;
  padding: 20px 50px;
  border: 1px solid #dedede;
  margin: 10px auto;
}

@media screen and (max-width: 420px) {
  .root {
    width: 320px;
    padding: 20px;
  }
}

@media screen and (max-width: 340px) {
  .root {
    width: 290px;
    padding: 20px 10px;
  }
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
