.languageSwitcher {
  position: relative;
  display: inline-block;
}

.btn {
  background-color: transparent;
  border: 2px solid #4caf50;
  padding: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  margin: 0;

  &:hover {
    background-color: #4caf50;
    color: #fff;
  }

  &:active {
    transform: translateY(1px);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.6);
  }
}

.dropdown {
  position: absolute;
  background-color: #fff;
  border: 2px solid #4caf50;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.dropdownItem {
  background-color: transparent;
  padding: 8px;
  margin: 0;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-transform: capitalize;
  border-bottom: 1px solid #4caf50;

  &:hover {
    background-color: #4caf50;
    color: #fff;
  }

  &:focus {
    outline: none;
  }

  &:last-child {
    border-bottom: none;
  }
}
