.root {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 2px solid #c9c9c9;
  margin-bottom: 30px;
  position: sticky;
  height: 70px;
  top: 0;
  z-index: 10;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: black;
  color: #fff;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;

  &:hover {
    background-color: #4361ee;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  .btn {
    margin-left: 10px;
  }
}

.userMenu {
  position: relative;
  display: flex;

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
      padding: 1px;
      transform: scale(1.1);
      background-color: #4361ee;
    }
  }

  .dropdownMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: -20px;
    right: 0;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition:
      opacity 0.3s ease-in-out,
      transform 0.3s ease-in-out;

    &.open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    .dropdownItem {
      width: 100%;
      padding: 8px 12px;
      color: #333;
      border-bottom: 2px solid #eaeaea;
      &:last-child {
        border-bottom: none;
      }
    }

    .btns {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    .logoutButton {
      width: 100%;
      margin-top: 10px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
}
